.container-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    margin: 1rem 0;
    

    

    .container-pruducts{
        width: 17rem;
        height: 26rem;
        border-radius: 2rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        border: 2px solid rgba(121, 121, 121, 0.426);
       
        
        


        .container-img-products{
            width: 17rem;
            height: 16rem;
            
        }


        .container-products-title-price{
            margin-bottom: 0.5rem;


        .container-title-products{
            display: flex;
            justify-content: space-between;
            width: 15rem;
            height: 5.5rem;
            margin: 0 0.5rem;
            

            .container-title-description-price{
                
                .price{
                    margin-top: 0.5rem;
                    padding: 0;
                    color: rgba(148, 0, 0, 0.847);
                    text-decoration: line-through;
                }

                .total-price{
                    font-size: 1.2rem;
                }
            }

            .discount{
                font-size: 0.7rem;
                background-color: darkred;
                height: 1.8rem;
                text-align: center;
                color: white;
                padding: 0.5rem;
                border-radius: 0.2rem;
            }


        }

    }
        .container-btn-shopping{
            width: 17rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            

            .btn-shopping{
                height: 2rem;
                width: 8rem;
                border: none;
                background-color: rgb(46, 139, 125);
                border-radius: 2rem;
                color: white;
                font-size: 1rem;
                cursor: pointer;

                &:hover{
                    border: 2px solid rgb(46, 139, 125);
                    background-color: white;
                    color:rgb(46, 139, 125);
                }
            }
            .btn-add{
                height: 2rem;
                width: 8rem;
                border: 2px solid rgb(46, 139, 125);
                background-color: white;
                border-radius: 2rem;
                color:rgb(46, 139, 125);
                font-size: 1rem;
                cursor: pointer;

                &:hover{
                    border: none;
                    background-color: rgb(46, 139, 125);
                    color: white;
                }
            }
        }

    

}
}


