.container-offer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
    
    .container-offer-image{
        width: 20rem;
        border: 2px solid #2e5e8b;
        cursor: pointer;
        transition: opacity 0.5s ease; 
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

       

        .offer-image {
            width: 20rem;
          }

        .conatiner-title-offer{
            position: absolute;
            width: 20rem;
            text-align: center;
            color: rgb(255, 255, 255);
            padding: 1rem;
            height: 20rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

             h2{
                margin-bottom: 1rem;
             }
            
        }
    }

}


@media (max-width: 768px) {
    .container-offer{
        flex-direction: column;
        gap: 1rem;
        
    }
}

  
  