@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.container-login{
    background-image: url("../../img/sala.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
   

.container-title{
    width: 40rem;
    margin-right: 10rem; 
    background-color: rgba(255, 255, 255, 0.482);
    padding: 1rem 1rem;
    

.title-new{
    font-family: 'Great Vibes', cursive;
    margin-bottom: -1rem;
    font-size: 3rem;
}

.title-colletion{
    font-family: 'Archivo';
    font-weight: 600;
    font-size: 4.5rem;
    color: rgb(0, 0, 0);
    }
    }
}

@media (max-width: 600px) {
    .container-login {
      background-image: url("../../img/Sofa-reponsive.jpg");
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      height: 100vh;

      .container-title{
        margin-right: 0;
        width: 22rem;
        text-align: center;
        margin-bottom: 1.5rem;
        padding: 1rem;
    .title-new{
        margin-bottom: 0.5rem;
    }
    
    .title-colletion{
        font-size: 3rem;
        }
     }
    }
  }