.container-alert{
    z-index: 9999;
    display: flex;
    justify-content: center;


    .alert{
    width: max-content;
    height: 2rem;
    background-color: rgb(234, 116, 116);
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.548);
    border-radius: 2rem;
    color: white;
    padding: 0.5rem 1rem;
    margin: 1rem;
    z-index: 9999;
    position: absolute;
    

}
}






.form-login{
    width: 15rem;
    height: 22rem;
    background-color: white;
    margin: 0.5rem;
    animation-name: slideIn;
    animation-duration: 3s;
    animation-fill-mode: both;
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background: linear-gradient(220.55deg, #6bd7a3 0%, #2d452d 100%);
    border-radius: 0.5rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;

  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .x{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0.7rem;
    margin-top: 0.7rem;
  }

  h2{
    font-weight: bold;
  }

  p{
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }

  input{
    width: 13rem;
    height: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    margin-bottom: 1rem;
  }
  button{
    border: 3px solid white;
    padding: 0.2rem 1rem;
    border-radius: 2rem;
    color: white;
    background-color: transparent;
    cursor: pointer;

    &:hover{
      background-color: white;
      color: #143716 ;
    }
  }

  .container-register{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    width: 12rem;

    a{
        font-size: 0.8rem;
        color: white;
    }
  }

  .icons{
    font-size: 2rem;
    cursor: pointer;
    margin: 0.5rem;

    &:hover{
      color: rgba(255, 255, 255, 0.756);
    }

  }
  
}

@media (max-width: 600px) {
  .form-login{
    margin-left: 1rem;
    margin: 0;
  }
}


